
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Racing+Sans+One&display=swap');

:root {
    --light-green: #606c38  ;
    --dark-green: #283618 ;
    --white: #fefae0;
    --skin: #dda15e;
    --dark-skin: #bc6c25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-green);
}
header {
   font-family: "Racing Sans One";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}
p{
    font-family: "Oswald";
    color: var(--white);
}
nav{

    font-family: "Oswald";
    
}
a{
    color: var(--white);
}
nav a{
    padding: 5px;
    text-decoration: none;
    margin: auto;

}
.hero{
    position: relative;
    height: auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position:absolute;
    padding-bottom: 200%;
    padding-top: 1000%;
    width: 80rem;
    text-align: center;
    height: auto;
}
h2{
    color: var(--white);
}

article h3{
    color: var(--white);
    font-family: "Oswald";
    height: auto;
    width: 100%;
}
article img{
    float: right;
    height: auto;

}
footer{
    padding: 20px 20px;
    background-color: rgba(221, 161, 94, 0.75);
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/*class selector*/
.hero h1{
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    border:  1px solid rgba(104, 101, 101, 0.76);
    padding: 1rem;
    background-color: rgba(221, 161, 94, 0.75);
    color: var(--white);
    width: 100%;
    height: auto;
}

.logo{
    cursor: pointer;
    height: 200px;
}
.nav-links a{
    transition:  all 0.3s ease 0s;
}
.nav-links a:hover{
    transition:  all 0.3s ease 0s;
    background-color: rgba(221, 161, 94, 0.75);
    color: var(--white) ;
}
.nav-links a{
        background: rgba(40, 54, 24, 0.75);
        padding: 1rem;
        border: 2px solid black;
}
article{
    border:  1px solid rgb(11, 11, 11);
    padding: 1rem;
    background-color: rgba(221, 161, 94, 0.75);
    color: #000;
    width: 66%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: -250px 255px;
    font-size: 20px;
    position: absolute;
    height: auto;
}
.history{
    padding: 20px 20px;
    background-color: rgba(221, 161, 94, 0.75);
    border: 2px solid black;
    width: 100%;
    height: auto;
    max-width: 1000px;  
    margin: auto;
    margin-top: 100px;
    
}
.history img{
    width: 250px;
    margin-left: 20px;
    padding: 20px;
    float: left;
    height: auto;
}
.history h2{
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    color: var(--white);
}
.history p{
    margin-top: 10px;
    font-size: 20px;

}
.adventure{
    padding: 120px 15px;
    background-color: rgba(221, 161, 94, 0.75);
    border: 2px solid black;
    width: 90%;
    display: flex;  
    margin: auto;
    margin-top: 100px;

}
.content1{
 display: flex;
}
.im1{
    text-align: center;
    height: 180px;
    font-size: 20px;
    padding: 10px;
}
.im2{
    height: 180px;
    font-size: 20px;
    padding: 10px;
}
.im3{
    height: 250px;
    font-size: 20px;
    padding: 10px;

}
.im4{
    height: 180px;
    font-size: 20px;
    padding: 10px;
}
.im5{
    height: 180px;
    padding: 10px;
}
.adtitle{
   margin-left: 40rem;
  position: absolute;
  margin-top: 60px;
  font-size: 20px;
}
.socialmedialinks img{
    display: inline-block;
    height:  60px;
    padding: 10px;
}
.copyr p{
    text-align: center;
    margin-left: 400px;

}