
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Racing+Sans+One&display=swap');

:root {
    --light-green: #606c38  ;
    --dark-green: #283618 ;
    --white: #fefae0;
    --skin: #dda15e;
    --dark-skin: #bc6c25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-green);
}
header {
   font-family: "Racing Sans One";
}
p{
    font-family: "Oswald";
    color: var(--white);
}
nav{
    background-color:  var(--light-green);
    font-family: "Oswald";
}
a{
    background-color: var(--light-green);
    color: var(--white);
}
nav a{
    display: inline-block;
    padding: 5px;
}
nav a:hover{
    background-color: var(--skin);
    color: var(--white);
}
.underscore{
    text-decoration: none;
}
.hero{
    position: relative;
}
article{
    position:absolute;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position:absolute;
    padding-bottom: 200%;
    padding-top: 1000%;
    width: 80rem;
    text-align: center;
}
h2{
    color: var(--white);
}
article{
    margin-left: 2;
    border:  1px solid rgb(11, 11, 11);
    padding: 1rem;
    background-color: rgba(221, 161, 94, 0.75);
    color: #000;
    bottom: 100px;
    width: 50em;
}
article P{
    color: var(--white);
}
article img{
    float: right;
}
/*class selector*/
.hero h1{
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    border:  1px solid rgba(104, 101, 101, 0.76);
    padding: 1rem;
    background-color: rgba(221, 161, 94, 0.75);
    color: var(--white);
    width: 100%;
}