@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Racing+Sans+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #606c38;
    font-family:'Oswald';
}
header{
    background-color: #606c38;
}
.logo{
    width: 100px;
}
header nav{
    display: block;
    color: #fefae0;
}
.underscore{
    text-decoration: none;
}
#hero{
    position: relative;
}

#hero-img{
    display: block;
    width: 100%;
    height: auto;
}
article img{
    float: right;
    width: 300px;
    height: 200px; 
}
.box1{
    margin: 1rem;
    border:  1px solid rgb(11, 11, 11);
    padding: 1rem;
    background-color: #dda15e;
    color: #fefae0;
    width: 120rem;
    height: 150px;
    position: absolute;
}
#history{
    margin: 1rem;
    border:  1px solid rgb(11, 11, 11);
    padding: 1rem;
    background-color: #dda15e;
    color: #fefae0;;
    width: 120rem;
    height: 150px;
}
#history h2{
    text-align: center;
}
h1{
    color: #fefae0;
    position: absolute;
    background-color: #dda15e;
}


h2,h3,h4,h5,h6{
    color: #fefae0;
}
section p{
    color: #fefae0;

}

footer{
    background-color: #bc6c25;
}
footer p{
    color: #fefae0;
}