@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Racing+Sans+One&display=swap');
nav{
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
nav a :hover{
    background-color: steelblue;
    color: brown;
}
h1{
    color: black;
}
image{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 10px;
}


main {  
    max-width: 840px;
}
